</div><!-- /.container -->

<footer class="footer">
          <div class="Page">
            <nav class="Footer-unit Footer-unit--small">
              <a href="/" class="Footer-logo">Segment</a>
            </nav>
            <nav class="Footer-unit Footer-unit--small">
              <h4 class="ui-Heading" size="small">Features</h4>
              <ul class="ui-Copy">
                <li><a href="/overview">Overview</a></li>
                <li><a href="/integrations">Integrations</a></li>
                <li><a href="/redshift">Amazon Redshift</a></li>
                <li><a href="/warehouses">Warehouses</a></li>
                <li><a href="/tour/business">Business</a></li>
                <li><a href="/pricing">Pricing</a></li>
              </ul>
            </nav>
          </div>
        </footer>


        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>


        <script type='text/javascript' src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        
        <!-- JavaScript jQuery code from Bootply.com editor  -->
        
        <script type='text/javascript'>
        
        $(document).ready(function() {
        
            
        
        });
        
        </script>
        
    </body>
</html>