        <footer class="footer">
            <div class="container">
                <div class="row">
                <div class="col-md-4 col-md-offset-4">
                <div class="row">
                    <div class="col-xs-4"><a class="navbar-brand pull-right" style="padding-right:0px;" href="{{ site.url }}">qpler</a></div>
                    <div class="col-xs-4">
                        <ul class="list-unstyled">
                                    <li><a href="http://www.smartx.cl"">smartx</a></li>
                                    <li><a href="http://www.smartx.cl">Consultoria</a></li>
                                    <li><a href="#">Investigacion</a></li>
                                    <li><a href="#">Aereonautica</a></li>
                                    <li><a href="http://www.smartx.cl"">Portfolio</a></li>
                                    </ul>
                    </div>
                    <div class="col-xs-4">
                        <ul class="list-unstyled">
                                    <li><a href="{{ site.blog_url }}">Blog</a></li>
                                    <li><a href="#">Nosotros</a></li>
                                    <li><a href="#">Contactanos</a></li>
                                    </ul>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </footer>


        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>


        <script type='text/javascript' src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        
        <!-- JavaScript jQuery code from Bootply.com editor  -->
        
        <script type='text/javascript'>
        
        $(document).ready(function() {
        
            
        
        });
        
        </script>
        
    </body>
</html>
